	
<div class="accordion" fillSpace="sideBar">
	<div class="accordionHeader">
		<h2><span>Folder</span>会员管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder" >
        	<li><a href="__MODULE__/user/index" target="navTab" rel="user_index" fresh:true>会员列表</a></li>
            <!--<li><a href="__MODULE__/user/rank" target="navTab">会员等级</a></li>-->
        <ul>
	</div>
    <div class="accordionHeader">
		<h2><span>Folder</span>权限管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder" >
        	<li><a href="__MODULE__/AuthRule/index" target="navTab" rel="authrule_index">规则管理</a></li>
            <li><a href="__MODULE__/AuthGroup/index" target="navTab" rel="authgroup_index">用户组管理</a></li>
        <ul>
	</div>
    <div class="accordionHeader">
		<h2><span>Folder</span>商品管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder" >
        	<li><a href="__MODULE__/goods/index" target="navTab" rel="good_index">商品管理</a></li>
            <li><a href="__MODULE__/publicattr/index" target="navTab" rel="publicattr_index">公共属性管理</a></li>
            <li><a href="__MODULE__/private/index" target="navTab" rel="privateattr_index">私有属性管理</a></li>
        <ul>
	</div>
    <div class="accordionHeader">
		<h2><span>Folder</span>首页管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder" >
        	<li><a href="__MODULE__/floor/index" target="navTab" rel="floor_index">楼层分类管理</a></li>
        <ul>
	</div>
</div>
