<div class="pageHeader">
	<form id="pagerForm" action="__URL__" method="post" onSubmit="return navTabSearch(this)">
    	<input type="hidden" name="pageNum" value="1" />
        <input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--【可选】每页显示多少条-->
        <div class="searchBar">
        	<ul class="searchContent">
            	<li>
                	<label>查找范围：</label>
                    <select name="cat_id">
                      <option value="0">全部分类</option>
                      <volist name="categorylist" id="vo">
                    	<option value="{$vo.id}"  <if condition="$vo.id eq $cat_id">selected</if>  <if condition="$vo.cat_level neq 3"> disabled </if>  >{$vo.cat_name}</option>
                      </volist>
                    </select>
                </li>
                <li>
                	<label>商品名称：</label>
                    <input name="goods_name" type="text" size="20" />
                </li>
            </ul>
            <div class="subBar"> 
            	<ul>
                	<li>
                    	<div class="buttonActive">
                        	<div class="buttonContent"> 
                            	<button type="submit">查询</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<!--页内容-->
<div class="pageContent">
	<!--操作按钮-->
    <div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="__URL__/add/navTabId/{$Think.CONTROLLER_NAME|strtolower}_{$Think.ACTION_NAME|strtolower}" target="dialog" mask="true" maxable="false" width="800" height="550" rel="goods_add"><span>新增</span></a></li>
			<li><a class="delete" href="__URL__/foreverdelete/navTabId/{$Think.CONTROLLER_NAME|strtolower}_{$Think.ACTION_NAME|strtolower}" posttype="string" rel="id" target="selectedTodo" title="确定要删除选中的记录吗？" warn="请至少选择一位用户"><span>删除</span></a></li>
			<li><a class="edit" href="__URL__/edit/navTabId/{$Think.CONTROLLER_NAME|strtolower}_{$Think.ACTION_NAME|strtolower}/id/{sid_user}" target="dialog" warn="请选择一个用户" width="800" height="550" rel="goods_edit"><span>编辑</span></a></li>
		</ul>
	</div>
    <!--数据显示-->
    <table class="list" width="100%" layoutH="140">
		<thead>
			<tr>
				<th width="10%" align="center"><input type="checkbox" group="id" class="checkboxCtrl"></th>
				<th width="10%">编号</th>
                <th width="30%">商品名称</th>
                <th width="10%">价格</th>
                <th width="10%">上架</th>
                <th width="10%">促销</th>
                <th width="10%">促销价格</th>
				<th width="10%">库存</th>
			</tr>
		</thead>
		<tbody>
        <volist name="list" id="vo">
        	<tr target="sid_user" rel="{$vo['id']}" onDblClick="$.getInfo({$vo['id']})" style="cursor:default">
				<td><input name="id" value="{$vo['id']}" type="checkbox"></td>
				<td>{$vo['id']}</td>
                <td>{$vo['goods_name']}</td>
                <td>{$vo['goods_price']}</td>
                <td>{$vo['is_on_sale']}</td>
                <td>{$vo['is_promote']}</td>
                <td>{$vo['promote_price']}</td>
                <td>{$vo['goods_num']}</td>
			</tr>
        </volist>
         </tbody>
	</table>
    <!--数据分页-->
    <div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onChange="navTabPageBreak({numPerPage:this.value})">
				<option {$numPerPage==10?"selected":"" } value="10" >10</option>
				<option {$numPerPage==15?"selected":"" } value="15">15</option>
				<option {$numPerPage==100?"selected":"" } value="100">100</option>
				<option {$numPerPage==200?"selected":"" } value="200">200</option>
			</select>
			<span>条，共{$totalCount==""?0:$totalCount}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>

	</div>
</div>