<div class="pageContent">
    <form method="post" action="__MODULE__/authRule/insert" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
    	<input type="hidden" name="callbackType" value="closeCurrent" />
        <input type="hidden" name="navTabId" value="{$Think.request.navTabId}"/>
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>规则标示：</label>
                <input type="text" name="name" class="required" size="33" maxlength="80" value=""/>
            </div>
            <div class="unit">
                <label>上层规则：</label>
                <select name="pid" style="width:230px;">
                	<option value="0">顶层</option>
                    <volist name="list" id="volist">
                   	<option value="{$volist.id}" <if condition="$volist.level eq 3">disabled</if> >{$volist.title}</option>
                    </volist>
                </select>
            </div>
            <div class="unit">
                <label>规则名称：</label>
                <input type="text" name="title" class="required" size="33" maxlength="20" value=""/>
            </div>
             <div class="unit">
                <label>状态：</label>
                <select name="status">
                	<option value="1">正常</option>
                    <option value="0">停用</option>
                </select>
            </div>
            <div class="unit">
                <label>条件：</label>
                <input type="text"  name="condition" class="" size="33" maxlength="100" value=""/>
            </div>
            <div class="unit">
                <label>导航显示：</label>
                <select name="isnavshow">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
            <div class="unit">
            	<label>排序</label>
                <input type="text"  name="sort" class="required" size="33" maxlength="6" value=""/>
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
            </ul>
        </div>
    </form>
</div>