<!--页内容-->
<div class="pageContent">
	<!--操作按钮-->
    <div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="__MODULE__/authRule/add/navTabId/{$Think.CONTROLLER_NAME|strtolower}_{$Think.ACTION_NAME|strtolower}" target="dialog" mask="true" maxable="false" width="550"><span>新增</span></a></li>
			<li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="id" posttype="string"  href="__MODULE__/authRule/foreverdelete/navTabId/{$Think.CONTROLLER_NAME|strtolower}_{$Think.ACTION_NAME|strtolower}" warn="请至少选择一条规则" class="delete"><span>删除</span></a></li>
			<li><a class="edit" href="__MODULE__/authRule/edit/navTabId/{$Think.CONTROLLER_NAME|strtolower}_{$Think.ACTION_NAME|strtolower}/id/{sid_user}" target="dialog" warn="请选择一个用户" width="550" height="380"><span>编辑</span></a></li>
		</ul>
	</div>
    <!--数据显示-->
    <table class="table" width="100%" layoutH="140">
		<thead>
			<tr>
				<th width="4%" align="center"><input type="checkbox" group="id" class="checkboxCtrl"></th>
				<th width="12%">编号</th>
                <th width="12%">规则标示</th>
                <th width="16%">规则名称</th>
                <th width="12%">状态</th>
                <th width="16%">条件</th>
                <th width="16%">左侧菜单显示</th>
			</tr>
		</thead>
		<tbody>
        <volist name="list" id="vo">
        	<tr target="sid_user" rel="{$vo['id']}">
				<td><input name="id" value="{$vo['id']}" type="checkbox"></td>
				<td>{$vo['id']}</td>
                <td>{$vo['name']}</td>
                <td>{$vo['title']}</td>
                <td><if condition="$vo['status'] eq 1">启用<else/>停用</if></td>
			   	<td>{$vo['condition']}</td>
                <td><if condition="$vo['isnavshow'] eq 1">显示<else/>隐藏</if></td>
            </tr>
        </volist>
         </tbody>
	</table>
</div>