<div class="pageContent">
    <form method="post" action="__URL__/editpwd" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
    	<input type="hidden" name="callbackType" value="closeCurrent" />
        <input type="hidden" name="navTabId" value="{$Think.request.navTabId}"/>
        <input type="hidden" name="id" value="{$Think.request.id}"/>
        <div class="pageFormContent" layoutH="58"> 
        	<br /><br /><br />
            <div class="unit">
                <label>密　码：</label>
                <input type="password" name="password" class="required alphanumeric" size="33" maxlength="16" value=""/>
            </div>
     
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
            </ul>
        </div>
    </form>
</div>